body {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
:root {
    --color-heading-1: 0,0,0;
    --color-heading-2: 255,255,255;
    --color-text-1: 0,0,0;
    --color-text-2: 255,255,255;
    --color-background-1: 255,255,255;
    --color-background-2: 0,0,0;
    --color-link-1: 0,0,0;
    --color-link-2: 255,255,255;
    --color-link-hover-1: 0,0,0;
    --color-link-hover-2: 255,255,255;
    --color-button-1: 255,255,255;
    --color-button-2: 0,0,0;
    --color-button-background-1: 0,0,0;
    --color-button-background-2: 255,255,255;
    --alpha-background-1: 0.1;
    --alpha-background-2: 0.3;
    --alpha-background-3: 0.7;
}
h1,
.h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.7rem;
    letter-spacing: 0.2rem;
    margin: 1.5rem 0;
}
@media screen and (min-width: 750px) {
    h1,
    .h1 {
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
}
h2,
.h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
    margin: 1rem 0;
}
@media screen and (min-width: 750px) {
    h2,
    .h2 {
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
}
h3,
.h3 {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.7rem;
    margin: 0.3rem 0 0.2rem;
}
@media screen and (min-width: 750px) {
    h3,
    .h3 {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
}
h4,
.h4 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0.3rem 0;
}
@media screen and (min-width: 750px) {
    h4,
    .h4 {
        font-size: 1.6rem;
        line-height: 1.8rem;
    }
}
p {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4rem;
}
@media screen and (min-width: 750px) {
    p {
        font-size: 1.5rem;
        line-height: 1.6rem;
    }
}
.section-gap {
    padding: 0 1rem;
    margin: auto;
    max-width: 120rem;
}
@media screen and (min-width: 750px) {
    .section-gap {
        padding: 0 2rem;
    }
}
@media screen and (min-width: 990px) {
    .section-gap {
        padding: 0 5rem;
    }
}
.spaced-section {
    margin-top: 2rem;
}
.spaced-section:last-child {
    margin-bottom: 3rem;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
button {
    position: relative;
    padding: 0.4rem 1rem;
    margin: 0.5rem 0.2rem;
    background-color: rgba(var(--color-button-background-1), var(--alpha-background-3));
    color: rgb(var(--color-button-1));
    transition: all ease-in-out 0.3s;
    border-radius: 5px;
    border: 1px solid rgb(var(--color-button-background-1));
}
button:hover{
    background-color: rgba(var(--color-button-1), var(--alpha-background-3));
    color: rgb(var(--color-button-background-1));
}
.header-buttons {
    text-decoration: none;
    color: inherit;
}
.raise-ticket-section {
    position: relative;
}
.raise-ticket-wrapper {
    width: 100%;
    max-width: 500px;
    background-color: rgb(var(--color-background-1));
    box-shadow: 0 0 1px 0 rgba(var(--color-text-1), var(--alpha-background-2));
    align-items: center;
    text-align: center;
    margin: auto;
    position: relative;
    padding: 0.5rem 1rem;
}
.rasie-ticket-form {
}
.form-control {
    width: 90%;
    max-width: 400px;
    height: 20px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(var(--color-text-1), var(--alpha-background-2));
    border-radius: 14px;
    outline: none;
}
.text-area {
    height: 150px;
    margin-bottom: 1rem;
}